.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.tags-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #6C63FF;
  padding: 10px;
  border-radius: 20px;
  background-color: #F0E6FE;
}

.tag {
  background-color: #A78BFA; 
  color: #000000; 
  padding: 8px 15px;
  margin: 5px;
  border-radius: 25px; 
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.tag:hover {
  background-color: #8B5CF6; 
}

.tag-close {
  margin-left: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff; 
}

.tag-input {
  flex: 1;
  border: none;
  outline: none;
  margin-left: 10px;
  padding: 8px;
  border-radius: 20px;
  font-size: 16px;
  background-color: #F0E6FE;
  color: #6C63FF; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.suggestions-container {
  margin-top: 10px;
  border: 2px solid #6C63FF; 
  border-radius: 20px;
  background-color: #ffffff; 
  width: 100%;
}

.suggestion {
  padding: 10px;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  color: #333; 
}

.suggestion:hover {
  background-color: #F3E8FF; 
}
